<!-- <ng-container *sdkLet="(isBusy$ | async) as isBusy"></ng-container> -->
<ActionBar title="GlobalFeed"></ActionBar>

<GridLayout class="form">
  <ListView class="list-group" [items]="articles" (loadMoreItems)="loadMoreItems($event)" separatorColor="rgba(0, 0, 0, 0)">
    <ng-template let-item="item" let-index="index">
      <ListView.itemTemplate>
        <GridLayout class="list-group-item" rows="60, *, *, 50,*" columns="auto, *">
          <Image class="face" row="0" col="0" [src]="item?.author?.image" class="thumb img-circle" rowSpan="1"></Image>
          <Label row="0" col="1" [text]="item?.author?.username" class="list-group-item-heading"></Label>
          <Label row="4" col="0" colSpan="2" [text]="item?.createdAt" class="date-show"></Label>
          <Label row="0" col="2" class="favoritescount" style="margin-left: 190" [text]="item?.favoritesCount">

          </Label>
          <Label row="0" col="3" class="fas favorite" style="margin-left: 170" text="&#xf185;">
          </Label>

          <Label [nsRouterLink]="['../globalfeeddetail', item?.slug]" row="1" col="0" colSpan="2" class="title-articles font-weight-bold"
            [text]="item?.title" textWrap="true"></Label>

          <Label class="cnt-articles" row="2" col="0" rowSpan="2" colSpan="2" textWrap="true">
            <FormattedString>
              <Span [text]="item?.body"></Span>
            </FormattedString>
          </Label>

        </GridLayout>
        <StackLayout *ngIf="index === (lengthList - 1)" [paddingBottom]="paddingBottom">
          <ActivityIndicator busy="true" width="50" height="50" class="activity-indicator"></ActivityIndicator>
        </StackLayout>
      </ListView.itemTemplate>
    </ng-template>
  </ListView>
  <ActivityIndicator [busy]="isBusy" width="50" height="50" class="activity-indicator"></ActivityIndicator>

</GridLayout>