/* .list-item{
    height: 100;
    margin: 10 0;
    background-color: bisque;
}

.list-header{
    height: 160;
    background-color: #eaeaea;
} */

/* .list-group-item{
    height: 100;
} */

/* .template{
    margin: 10px;
} */
.face{
    max-width: 60;
    max-height: 60;
}
.list-group{
    background: #7f8c8d;
}
.list-group-item{
    background: #ecf0f1;
   margin: 10px;
}



.date-show{
    margin-left: 100;
    color: #f4f4f4;
    font-size: 10; 
}

.cnt-articles{
    margin-top: 20;
    color: #7f8c8d;
    font-weight: 500;
    font-size: 14;
}
.favorite{
    color: #2ecc71;
}
 

.title-articles{
    margin-top:5;
    color:#2c3e50;
    text-transform: uppercase;
}