<!-- <GridLayout class="form">

    <ListView class="list-group" [items]="articles">
        <ng-template let-item="item">
            <ListView.itemTemplate> -->
                <!-- <article-item-comp [article]="item"></article-item-comp> -->
            <!-- </ListView.itemTemplate>
        </ng-template>
    </ListView>
    <ActivityIndicator busy='{{isBusy$ | async }}' width="50" height="50" class="activity-indicator"></ActivityIndicator>
</GridLayout>
 -->


<GridLayout class="form">
  <ListView class="list-group" [items]="articles" (loadMoreItems)="loadMoreItems($event)" separatorColor="rgba(0, 0, 0, 0)">
    <ng-template let-item="item" let-index="index">
      <ListView.itemTemplate>
        <article-item-comp [article]="item"></article-item-comp>
        <!-- <StackLayout *ngIf="index === (lengthList - 1)" [paddingBottom]="paddingBottom">
          <ActivityIndicator busy="true" width="50" height="50" class="activity-indicator"></ActivityIndicator>
        </StackLayout> -->
      </ListView.itemTemplate>
    </ng-template>
  </ListView>
  <ActivityIndicator busy='{{isBusy$ | async }}' width="50" height="50" class="activity-indicator"></ActivityIndicator>

</GridLayout>