<!-- <ActionBar class="action-bar">
    <Label class="action-bar-title" text="HomePage"></Label>
</ActionBar> -->


<TabView androidTabsPosition="top" selectedIndex="0" (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <page-router-outlet *tabItem="{title: 'YourFeed'}" name="yourfeed"></page-router-outlet>
    <page-router-outlet *tabItem="{title: 'GlobalFeed'}" name="globalfeed"></page-router-outlet>
    <page-router-outlet *tabItem="{title: 'FeatureMore'}" name="featuremore"></page-router-outlet>
</TabView> 